h1 {
    text-align: center;
}

h3 {
    color: rgb(0, 0, 0);
}

p {
    color: rgb(0, 0, 0);
}

img {
    max-width: 220px;
    height: 250px;
    margin: 10px;
}

.gallery-container {
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-radius: 10px;
    margin: 10px;
    width: 20%;
    max-width: 260px;
    height: auto;
    padding: 5px;
}

.gallery-container a {
    background-color: rgb(38, 42, 43);
    background-position: center;
    background-size: cover;
}

.gallery-container a:hover {
    background-color: rgb(42, 48, 48);
    opacity: 90%;
    text-decoration-color: rgb(0, 0, 0);
}